.name-container {
    margin: auto;
    flex-direction: column;
}

.name-container .arrow {
    border: solid #B2247E;
    border-width: 0 2px 2px 0;
}

.name {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.name>* {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.name>h1.title {
    font-size: 5rem;
}

.name>h2.subtitle {
    font-size: 3rem;
}

.statement {
    text-align: justify;
    justify-content: center;
    color: white;
    flex-direction: column;
    /* background-color: black; */
}

.statement .arrow,
.contact .arrow {
    border: solid white;
    border-width: 0 2px 2px 0;
}

.statement .arrow-container {
    align-self: center;
}

.info {
    flex-direction: column;
}

.info>.up>.arrow {
    border: solid #B2247E;
    border-width: 0 2px 2px 0;
}

.info>.down>.arrow {
    border: solid #04724D;
    border-width: 0 2px 2px 0;
}

.cv-container a {
    color: black;
    font-size: 1.5rem;
}

.cv-container {
    justify-content: space-around;
    flex-direction: column;
    align-content: center;
    height: 70%;
}

.cv,
.portfolio {
    flex-direction: column;
    width: 30%;
    margin: auto;
}

.cv {
    margin-top: 0;
}

.contact {
    color: white;
    flex-direction: column;
    font-size: 1.5rem;
    align-items: center;
    /* text-align: left; */
}

.contact-container a {
    color: white;
    font-weight: 300;
    font-size: 1.5rem;
}

.contact-container {
    flex-direction: column;
    justify-content: center;
    height: 80%;
    align-items: center;
    /* text-align: left; */
    width: 60%;
    margin: auto;
}

.number,
.twitter,
.email {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-container img {
    height: 30%;
    margin-bottom: 1rem;
}


/* landscape */

@media screen and (min-aspect-ratio: 13/9) {
    .number,
    .twitter,
    .email {}
    .contact-container {
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
    }
    .contact-container img {
        width: 50px;
        margin-bottom: 1rem;
        height: auto;
    }
    .cv-container {
        flex-direction: row;
    }
    .cv,
    .portfolio {
        flex-direction: column;
        width: 100px;
        margin: auto;
    }
    a.down {
        margin-bottom: 20px;
    }
    a.up {
        margin-top: 20px;
    }
}


/* placeholders */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    font-weight: 400;
}

a:hover {
    opacity: .7;
    transition: opacity .5s;
    -moz-transition: opacity .5s;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
}

html,
body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    background: white;
    text-align: center;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -ms-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
    margin: 0;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vw);
    scroll-snap-type: y mandatory;
}

.section-divider {
    /* scroll snap children */
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    min-width: 100vw;
    height: 100vh;
}

.flex {
    display: flex;
}

.content {}

h1.title {
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5rem;
    margin-block-end: 0em;
}

h2.subtitle {
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    margin-block-start: 1em;
}

p {
    line-height: 2rem;
    font-size: 1rem;
}

.arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 10px;
}

.arrow:hover {
    opacity: .2;
    transition: opacity .2s;
    -moz-transition: opacity .2s;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
}

.arrow:active {
    opacity: 0;
    transition: opacity 0;
    -moz-transition: opacity 0;
    -webkit-transition: opacity 0;
    -o-transition: opacity 0;
}

.right>i {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left>i {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    margin-top: 30px;
}

.up>i {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    margin-bottom: 30px;
}

.down>i {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.footer {
    min-height: 1rem;
}

.limit-width {
    width: 90%;
    margin: auto;
}