.name-container {
    margin: auto;
    flex-direction: row;
}

.name {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.name>* {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.name>h1.title {
    font-size: 5rem;
    margin-block-start: 0em;
}

.name>h2.subtitle {
    font-size: 3rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    background: white;
    text-align: center;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

a {
    font-weight: 400;
}

a:hover {
    opacity: .7;
    transition: opacity .5s;
    -moz-transition: opacity .5s;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
}

h1.title {
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5rem;
    margin-block-start: 2em;
}

h2.subtitle {
    font-weight: 300;
    font-size: 1rem;
    font-family: 'Josefin Sans', sans-serif;
    margin-block-start: 1em;
}

.contents {
    flex-direction: column;
    text-align: center;
    white-space: normal;
}

.child-contents {
    flex-grow: 1;
    /* margin-top: 3rem; */
    width: 80%;
    justify-content: space-evenly;
    /* margin: auto; */
}

.design-contents {
    color: white;
}

.design-contents a {
    color: white;
}

.page-text {
    width: 60%;
    font-size: 1.5rem;
    line-height: 3rem;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}

.page-images-container {
    justify-content: space-around;
}

.page-images-container img {
    width: 100%;
}

.page-images-container a {
    width: 30%;
}

#page {
    overflow: hidden;
    white-space: nowrap;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    display: flex;
    flex-wrap: no-wrap;
}

.pane {
    flex: 0 0 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: solid #B2247E;
    border-right-style: dotted;
    border-width: 0 0 0 0;
    border-right-width: 1px;
}

.pane a {
    font-weight: 300;
}


/* arrow stuff */

.arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 10px;
}

.arrow:hover {
    opacity: .2;
    transition: opacity .2s;
    -moz-transition: opacity .2s;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
}

.arrow:active {
    /* opacity: 0;
    transition: opacity 0;
    -moz-transition: opacity 0;
    -webkit-transition: opacity 0;
    -o-transition: opacity 0; */
}

.arrow-container {
    align-self: center;
}

.right {
    margin-right: 30px;
}

.right>i {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    margin-left: 30px;
}

.left>i {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    margin-top: 30px;
}

.up>i {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    margin-bottom: 30px;
}

.down>i {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.flex {
    display: flex;
}

.pane:nth-child(4n+2) {
    /* background-color: whit; */
}

.pane:nth-child(4n+3) {
    background-color: #B2247E;
}

.pane:nth-child(4n+4) {
    background-color: #E84B30;
}

.pane:last-child {
    background-color: #45CCFF;
}